@page "/server"
@rendermode InteractiveServer
<h3>Servers</h3>
<br />
<br />
<div class="container-fluid text-center">
    <div class="row w-50">     
    <CityList   selectedcitysig="HandleCitySelection"></CityList>               
    </div>   
</div>

<br />
<br />
<ServerComponent @rendermode="InteractiveServer" ></ServerComponent>
<ServerFilter servers=@servers  filtersignal="HandleFilter"></ServerFilter>

<ServerList @rendermode ="InteractiveServer" Cityname ="@selectedcity" filter="@filterName"></ServerList>

@code {
    
   public string filterName{get;set;}="";
       private  string selectedcity = "";
       private string selectedDivBgColor ="bg-white";
    //@server.ServerId
    private List<Server> servers = ServersRepository.GetServerByCity("Toronto");
    private List<string> cityname = CitiesRepository.GetCities();
    private List<string> citypic = CitiesRepository.GetCitesiPic(); 
     
    private void delete(int serverId)
    {
        if(serverId>0)
        {
            ServersRepository.DeleteServer(serverId);
        }
       
    }  
    
 public void HandleFilter(string name)
 {
        filterName =name;
       
//this.servers = ServersRepository.SearchServers(name);
 }
    
    public void HandleCitySelection(string name)
    {
    selectedcity=name;
    this.filterName = string.Empty;
   

    }

}
