@page "/task"
@rendermode InteractiveServer
<button class="btn btn-primary" @onclick="addtask">Add Task</button>

<ul>
    <TodoListComponent FromParentTakeDoTask="@myworkList"></TodoListComponent>
</ul>
<SearchComponent SearchedText="HandleSearch"></SearchComponent>
@getstatefromChild

@code
{
    public string? getstatefromChild { get; set; }  ="Happy";

    private int workid = 0;
    private string _workList = "Task";

    private List<DoTask> myworkList = TaskListrepo.getAllTask() ?? new List<DoTask>();
    private void addtask()
    {
        TaskListrepo.addTask();
        myworkList = TaskListrepo.getAllTask();
    }
    private void getTaskName(DoTask job, ChangeEventArgs args)
    {
        job.taskName = args.Value?.ToString() ?? string.Empty;
        TaskListrepo.EditTask(job.taskId, job.taskName);
    }

    public void HandleSearch(string filter)
    {
        getstatefromChild = filter;
    }


}
